<h1 class="title">{{ home.titleHistory }}</h1>
<h6><em>Today:</em> {{home.timeNow | date: "medium" }}</h6>
<div class="panel-body">
  <ul class="list-group">
    <div  ng-repeat="item in home.items" ng-show="home.isExpired(item) || item.completed === true">
      <li class="list-group-item">
        <div class="tasks">
          <h5><s>{{ $index+1 }} - {{ item.name }}</s></h5>
          <h6><em>{{ item.description }}</em></h6>
          <h6>completed: {{ item.completed }}</h6>
          <h6><small>created: {{ item.timeCreated | date: "medium" }}</small></h6>
          <h6><small>expires: {{ item.expDate | date: "medium" }}</small></h6>
          <h6><small>priority: </small>{{ item.priority }}</h6>
          <!--         <div class="pull-right action-buttons">
          <span class="glyphicon glyphicon-pencil">Edit</a>
          <class="trash"><span class="glyphicon glyphicon-trash">Delete</a>
        </div>
        <button ng-click='home.button() ; activity.seen = !activity.seen'>
          <span>{{activity.seen ? 'Mark as complete' : 'Mark as active'}}</span>
        </button> -->
          <button class="btn btn-warning btn-xs" ng-click="home.completed(item)"><span>Mark as active</span></button>
      </div>
    </li>
  </div>
</ul>
</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-md-6">
      <div  ng-repeat="item in home.items" ng-show="$last">
        <h6>Total Tasks: <span class="label label-info">{{$index+1}}</span></h6>
      </div>
    </div>
  </div>
</div>
