<div class="title">{{ home.titleActive }}</div>
<h6><em>Today:</em> {{home.timeNow | date: "medium" }}</h6>
<div class="panel-body">
  <ul class="list-group">
    <div  ng-repeat="item in home.items" ng-hide="home.isExpired(item) || item.completed === true">
      <li class="list-group-item">
        <div class="task">

          <h5>{{ $index+1 }} - <mark>{{ item.name }}</mark></h5>
          <h6><em>{{ item.description }}</em></h6>
          <h6>completed: {{ item.completed }}</h6>
          <h6><small>created: {{ item.timeCreated | date: "medium" }}</small></h6>
          <h6><small>expires: {{ item.expDate | date: "medium" }}</small></h6>
          <h6><small>priority: </small>{{ item.priority }}</h6>

        <button class="btn btn-success btn-xs" ng-click="home.completed(item)"><span>Complete</span></button>
      </div>
    </li>
  </div>
</ul>
</div>
<!--
<div class="form-group">
<input type="text" class="form-control" id="itemName" ng-model="itemName" placeholder="Add new task here">
</div>
-->
<div ng-controller="HomeController">
  <div class="form-group">
    <!-- Replace the current function with : home.openModal() - home.addItem(itemName) in order to open up the modal-->
    <button button type="button" class="btn btn-info" ng-click="home.openModal()">Add new task</button>
  </div>
</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-md-6">
      <div  ng-repeat="item in home.items" ng-show="$last">
        <h6>Total Tasks: <span class="label label-info">{{$index+1}}</span></h6>
      </div>
    </div>
  </div>
</div>
