<h1>{{ home.title }}</h1>
<h6>{{home.timeNow | date: "medium" }}</h6>
<div class="panel-body">
  <ul class="list-group">
    <div  ng-repeat="item in home.items" ng-hide="home.isExpired(item) || item.completed === true">
      <li class="list-group-item">
        <div class="task">

          <h5>{{ $index+1 }} - {{ item.name }}</h5>
          <h6>completed: {{ item.completed }}</h6>
          <h6>{{ item.timeCreated | date: "medium" }}</h6>
          <h6>{{ item.expDate | date: "medium" }}</h6>
          <!--         <div class="pull-right action-buttons">
          <span class="glyphicon glyphicon-pencil">Edit</a>
          <class="trash"><span class="glyphicon glyphicon-trash">Delete</a>
        </div> -->
        <button ng-click='home.button(completed); activity.seen = !activity.seen'>
          <span>{{activity.seen ? 'Mark as active' : 'Mark as complete'}}</span>
        </button>

      </div>
    </li>
  </div>
</ul>
</div>
<!--
<div class="form-group">
<input type="text" class="form-control" id="itemName" ng-model="itemName" placeholder="Add new task here">
</div>
-->
<div ng-controller="HomeController">
  <div class="form-group">
    <!-- Replace the current function with : home.openModal() - home.addItem(itemName) in order to open up the modal-->
    <button ng-click="home.openModal()">Add new task</button>
  </div>
</div>
<div class="panel-footer">
  <div class="row">
    <div class="col-md-6">
      <div  ng-repeat="item in home.items" ng-show="$last">
        <h6>Total Tasks: <span class="label label-info">{{$index+1}}</span></h6>
      </div>
    </div>
  </div>
</div>
