<h1>{{ home.title }}</h1>
<div class="panel-body">
  <ul class="list-group">
    <div  ng-repeat="item in home.items">
      <li class="list-group-item">
        <div class="checkbox">
          <input type="checkbox" id="checkbox" />
          <h5>Item-{{ $index+1 }} - {{ item.$value }}</h5>
          <div class="pull-right action-buttons">
            <span class="glyphicon glyphicon-pencil">Edit</a>
              <class="trash"><span class="glyphicon glyphicon-trash">Delete</a>
              </div>
            </input>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6">
        <h6>Total Count <span class="label label-info">{{$index}}</span></h6>
                // Need to implement a count that works
      </div>
    </div>
  </div>
